<%= form_with(model: movie) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-sm form-label">
          <%= form.label :titolo, class: 'form-label'%>
          <%= form.text_field :titolo, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm form-label">
          <%= form.label :regista, class: 'form-label'%>
          <%= form.text_field :regista, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm form-label">
          <%= form.label :attori, class: 'form-label' %>
          <%= form.text_field :attori, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm form-label">
          <%= form.label :genere, class: 'form-label' %>
          <%= form.text_field :genere, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm form-label">
          <%= form.label :trama, class: 'form-label' %>
          <%= form.text_field :trama, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm form-label">
          <%= form.label :durata, class: 'form-label' %>
          <%= form.number_field :durata, class: 'form-control' %>
        </div>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  <br>
<% end %>
