<p id="notice"><%= notice %></p>

<h1>Movies</h1>

<table class=table>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td >
                
        </td>
        <td class=""><b><%= movie.titolo %>, <%= movie.durata %> minuti, <br> <%= movie.regista %>, <%= movie.attori %>, <%= movie.genere %></b> <br> <%= movie.trama %></td>
        <td><%= link_to 'Modifica', edit_movie_path(movie), class: 'btn btn-primary' %></td>
        <td><%= link_to 'Elimina', movie, method: :delete, data: { confirm: 'Sei sicuro?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuovo film', new_movie_path, class: 'btn btn-primary' %>
