

<h1>Film</h1>

<% if user_signed_in? %>
  Benvenuto <b><%= current_user.email %></b>
  <br><%= link_to "Log Out", destroy_user_session_path, method: :delete, class: 'btn btn-warning' %>
<% end %>

<table class=table>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td >
          <% if movie.cover.attached? %>
          <%= link_to (image_tag url_for(movie.cover) ,:class => "w-100  scritte"), movie %>
          <% end %> 
        </td>
        <td class="scritte"><b><%= movie.titolo %>, <%= movie.durata %> minuti, <br> <%= movie.regista %>, <%= movie.attori %>, <%= movie.genere %></b> <br> <%= movie.trama %></td>
        <td><%= link_to 'Modifica', edit_movie_path(movie), class: 'btn btn-primary' %></td>
        <td><%= link_to 'Elimina', movie, method: :delete, data: { confirm: 'Sei sicuro?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuovo film', new_movie_path, class: 'btn btn-primary' %>

<br>
<br>
