<p id="notice"><%= notice %></p>

  <% if @movie.cover.attached? %>
  <%= image_tag url_for(@movie.cover)%>
  <% end %> 
  
<p>
  <%= @movie.titolo %>
</p>

<p>
  <%= @movie.regista %>
</p>

<p>
  <%= @movie.attori %>
</p>

<p>
  <%= @movie.genere %>
</p>

<p>
  <%= @movie.trama %>
</p>

<p>
  <%= @movie.durata %> minuti
</p>

<%= link_to 'Modifica', edit_movie_path(@movie), class: 'btn btn-primary' %> |
<%= link_to 'Indietro', movies_path, class: 'btn btn-primary' %>
